.docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
}

.site-footer {
    text-align: center;
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
}

#sidebar {
    padding-right: 40px;
}

#contents {
}

.page-heading {
    margin-left: 40px;
    margin-bottom: 60px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-content {
    margin-bottom: 30px;
}

.center {
    display: table;
    margin: 0 auto;
}