/*全局参数开始*/
/*bootstrap参数开始*/
/*bootstrap-覆写*/
.navbar {
    margin-bottom: 0px;
}

/*bootstrap-扩展*/
.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    font-size: initial;
}

.page-header {
    margin-left: 40px;
    margin-bottom: 60px;
}

/*bootstrap参数结束*/

/*自定义参数*/
.body {
    background-color: #e7e7e7;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
}

/*全局参数结束*/

/*工具类开始*/
.center {
    display: table;
    margin: 0 auto;
}

/*工具类结束*/

/*导航栏*/

/*content开始*/

.height-fix {
    overflow: hidden;
}

.left-side {
    color: #777;
    /*background-color: #e5000a;*/
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;

    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}

.post-side {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;

    background-color: #fcfcfc;
}

/*左菜单栏内容*/
.left-section {
    margin-top: 2em;
    /*border-left: 1px solid #e8e8e8;*/
    /*border-right: 1px solid #e8e8e8;*/
    /*border-bottom: 1px solid #e7e7e7;*/
}

.left-section .row {
    background-color: #dadada;
}

.left-section .left-title {
    padding: 10px 0px 10px 25px;
    font-size: 150%;
    font-weight: bold;
}

.left-section .left-ul{
    margin-top: 20px;
}

/*右POST区域内容*/

.post-list {
    /*margin-left: 0;*/
    list-style: none;
    line-height: 2.0;
    margin-bottom: 50px;
}

.tag-name {
    margin-left: 40px;
}

.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-content {
    margin-bottom: 30px;
}

/*content结束*/

/*footer开始*/

.footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 40px 0px 30px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
}

/*footer结束*/
