---
layout: page
title: 分类
---
{% for category in site.categories %}
<div class="row">
  <h2>{{ category | first }}</h2>
  </span>共 {{ category | last | size }} 篇</span>
</div>

<ul class="arc-list">
  {% for post in category.last %}
    <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<!--分类单独页面-->
<!--<script src="{{ '/js/jquery.query.min.js' | prepend: site.baseurl }}"></script>-->
<!--<script>-->
    <!--debugger-->
    <!--var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }';-->
    <!--var data = JSON.parse(dataStr);-->
    <!--var curTag = $.query.get("cat");-->
    <!--var archieves = data[curTag];-->
    <!--console.log(archieves)-->
<!--</script>-->
