<footer class="container-fluid footer">
  <div class="row">
    <p class="col-md-12 hidden-xs hidden-sm">
      Copyright &copy; 2016 <a href="{{ site.baseurl }}/">{{ site.author }}</a>
      LICENCE <img style="height: 18px;" src="{{ '/image/CC.jpg' | prepend: site.baseurl }}"/>
      <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode">BY-NC-SA</a>
    </p>
  </div>
  <div class="row">
    <p class="hidden-lg hidden-md col-xs-12 col-sm-12">
      Copyright &copy; 2016 <a href="{{ site.baseurl }}/">{{ site.author }}</a>
    </p>
  </div>
  <div class="row">
    <p class="hidden-lg hidden-md col-xs-12 col-sm-12">
      LICENCE <img style="height: 18px;" src="{{ '/image/CC.jpg' | prepend: site.baseurl }}"/>
      <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode">BY-NC-SA</a>
    </p>
  </div>
</footer>

