<div id="foot">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ '/js/jquery-1.11.3.min.js?version=' | prepend: site.baseurl | append:site.cacheVersion}}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ '/js/bootstrap.min-3.3.7.js?version=' | prepend: site.baseurl | append:site.cacheVersion }}"></script>
  <!-- custom main javaScript -->
  <script src="{{ '/js/main.js?version=' | prepend: site.baseurl | append:site.cacheVersion }}"></script>
  <!--disqus-->
  <script src="{{ '/js/disqus.js?version=' | prepend: site.baseurl | append:site.cacheVersion }}"></script>
  <!--<script id="dsq-count-scr" src="//{{ site.disqusId }}.disqus.com/count.js?version={{ site.cacheVersion }}" async></script>-->
  <!--谷歌分析-->
  <script src="{{ '/js/google.analytics.js?version=' | prepend: site.baseurl | append:site.cacheVersion }}"></script>

</div>
