<footer class="bs-docs-footer">
    <div class="container">
        <p>adolphor</p>
        <p>自由转载，保留署名</p>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ '/js/jquery-1.11.3.min.js' | prepend: site.baseurl }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/js/custom.js' | prepend: site.baseurl }}"></script>
