<footer class="site-footer">
    <!--<ul class="linkList linkList-social">-->
    <!--<li>-->
    <!--<a href="https://twitter.com/MSPowerBI" target="_blank">-->
    <!--<span class="icon">图标</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="https://twitter.com/MSPowerBI" target="_blank">-->
    <!--<span class="icon">图标</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="https://twitter.com/MSPowerBI" target="_blank">-->
    <!--<span class="icon">图标</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="https://twitter.com/MSPowerBI" target="_blank">-->
    <!--<span class="icon">图标</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <div class="container">
        <p>
            Copyright &copy; 2016 <a href="{{ site.baseurl }}/">{{ site.author }}</a>
        </p>
        <p >
            LICENCE <img style="height: 18px;" src="{{ '/image/CC.jpg' | prepend: site.baseurl }}"/>
            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode">BY-NC-SA</a>
        </p>
    </div>
</footer>

