<div id="foot">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ '/js/jquery-1.11.3.min.js?version=' | append:site.cacheVersion}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ '/js/bootstrap.min-3.3.7.js?version=' | append:site.cacheVersion }}"></script>
    <!-- custom main javaScript -->
    <script src="{{ '/js/main.js?version=' | append:site.cacheVersion }}"></script>

    <!--网站访问量统计-->
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!--读取config.yml配置的参数，多说和谷歌分析中的JS要引用此变量-->
    <script type="text/javascript">
//        var disqusId = '{{ site.disqusId }}';
//        var pageUrl = '{{ page.url | prepend: site.url }}';
//        var pagePostId = '{{ page.postId }}';

        var duoshuoId = '{{ site.duoshuoId }}';
        var googleAnalyticsId = '{{ site.googleAnalyticsId }}';
    </script>
    <!--disqus-->
    <!--<script src="{{ '/js/disqus.js?version=' | append:site.cacheVersion }}"></script>-->
    <!--多说-->
    <script src="{{ '/js/duoshuo.js?version=' | append:site.cacheVersion }}"></script>
    <!--谷歌分析-->
    <script src="{{ '/js/google.analytics.js?version=' | append:site.cacheVersion }}"></script>

</div>
