<section class="left-section row">
  <div class="col-md-12">
    <div class="left-title row">
      <!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
      最近发表
    </div>
    <ul class="left-ul row">
      {% for post in site.posts offset: 0 limit: 5 %}
      <li style="margin-bottom: 10px;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="left-section row">
  <div class="col-md-12">
    <div class="left-title row">
      <!--<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>-->
      标签
    </div>
    <div class="left-ul row">
      {% assign first = site.tags.first %}
      {% assign max = first[1].size %}
      {% assign min = max %}
      {% for tag in site.tags offset:1 %}
      {% if tag[1].size > max %}
      {% assign max = tag[1].size %}
      {% elsif tag[1].size < min %}
      {% assign min = tag[1].size %}
      {% endif %}
      {% endfor %}

      {% if max == min %}
      {% assign diff = 1 %}
      {% else %}
      {% assign diff = max | minus: min %}
      {% endif %}

      {% for tag in site.tags %}
      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
      {% assign base = temp | divided_by: 4 %}
      {% assign remain = temp | modulo: 4 %}
      {% if remain == 0 %}
      {% assign size = base | plus: 9 %}
      {% elsif remain == 1 or remain == 2 %}
      {% assign size = base | plus: 9 | append: '.5' %}
      {% else %}
      {% assign size = base | plus: 10 %}
      {% endif %}
      {% if remain == 0 or remain == 1 %}
      {% assign color = 9 | minus: base %}
      {% else %}
      {% assign color = 8 | minus: base %}
      {% endif %}
      <a href="/tags.html#{{ tag[0] }} | prepend: site.baseurl "
         style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
      {% endfor %}
    </div>
  </div>
</section>
