/**
 * Basic styling
 */
body {
  background-color: #e7e7e7;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  word-break: break-all;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-weight: bold;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/*bootstrap start*/
/*bootstrap-override*/
.navbar {
  margin-bottom: 0px;
}

/*bootstrap-extends*/
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  font-size: initial;
}

.page-header {
  margin-left: 40px;
  margin-bottom: 60px;
}

/*bootstrap end*/

/*content start*/

.menu-side {
  color: #777;
}

.post-side {
  line-height: 2;
  background-color: #fcfcfc;
}

/*left start*/
.left-section {
}

.left-section .left-title {
  background-color: #dadada;
}

.left-title {
  padding: 5px 0px 10px 10px;
  font-size: 120%;
  font-weight: bolder;
}

.left-ul {
  margin: 20px 0 40px 0;
}

.menu-ul {
  padding-left: 0px;
  list-style: none;
  white-space: nowrap;
}

.menu-li {
  margin-left: -15px;
  line-height: 1.5;
}

.menu-li a {
  padding-left: 20px;
}

.sub-menu-ul {
  padding-left: 0px;
  list-style: none;
}

.sub-menu-li {
  padding-left: 20px;
}

//
//.sub-menu-li a {
//  padding-left: 15px;
//}

/*right start*/

.post-list {
  /*margin-left: 0;*/
  list-style: none;
  line-height: 2.0;
  margin-bottom: 50px;
}

.tag-name {
  margin-left: 40px;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-content {
  margin: 0 30px 40px 0;
  border-bottom: 1px solid #eee;
}

/*content end*/

/*footer start*/

.footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 5px 0px 0px;
  color: #767676;
  border-top: 1px solid #e5e5e5;
}

/*footer end*/

.toTop {
  position: fixed;
  bottom: 50px;
  right: 15px;
  cursor: pointer;
  z-index: 999999;
  display: block;
  opacity: 1;
}

.toTop a {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -999em;
  background: url(http://cdn.w3cplus.com/cdn/farfuture/rd7thViJNExImZAYWWCDkaBJSaBypKZOcvslEjyCpcI/mtime:1414079824/sites/all/themes/w3cplusV2/images/scrollup.png) no-repeat center;
}
