/**
 * Basic styling
 */
body {
    background-color: #e7e7e7;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*bootstrap start*/
/*bootstrap-override*/
.navbar {
    margin-bottom: 0px;
}

/*bootstrap-extends*/
.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    font-size: initial;
}

.page-header {
    margin-left: 40px;
    margin-bottom: 60px;
}

/*bootstrap end*/

/*content start*/

.menu-side {
    color: #777;
}

.post-side {
    background-color: #fcfcfc;
}

/*left start*/
.left-section {
}

.left-section .row {
    background-color: #dadada;
}

.left-section .left-title {
    padding: 10px 0px 10px 25px;
    font-size: 150%;
    font-weight: bold;
}

.left-section .left-ul{
    margin: 20px 0 40px 0;
}

/*right start*/

.post-list {
    /*margin-left: 0;*/
    list-style: none;
    line-height: 2.0;
    margin-bottom: 50px;
}

.tag-name {
    margin-left: 40px;
}

.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-content {
    margin: 0 30px 60px 0;
    border-bottom: 1px solid #eee;
}

/*content end*/

/*footer start*/

.footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 40px 0px 30px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
}

/*footer end*/
