---
layout: default
---
<div class="row">
  <div class="col-md-3">
    {% include menu.html %}
  </div>
  <div class="col-sm-12 col-md-9">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>
      <div class="post-content" itemprop="articleBody">
        {{ content }}
        <p class='post-footer'>
          原文地址：
          <a href='{{ post.url | prepend: site.baseurl }}'>{{ post.url | prepend: site.baseurl }}</a>
          <br/>版权声明：自由转载-非商用-非衍生-保持署名|
          <a href='http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh'>Creative Commons BY-NC-ND 3.0</a>
        </p>
      </div>
    </article>
  </div>
</div>